openapi: 3.2.0
info:
  title: Plyrium Com Verification API
  version: 0.1.0
  termsOfService: https://www.plyrium.com/vouchspec/policies
  description: 'Operations tagged Verification across 2 of this provider''s published API definitions: plyrium-com-openapi.json, plyrium-com-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://vouchspec.plyrium.com
  description: Base mainnet commerce
tags:
- name: Verification
  description: Public receipt bytes, status, and issuer key.
paths:
  /api/vouchspec/v1/keys/issuer:
    get:
      tags:
      - Verification
      operationId: getVouchSpecIssuerKey
      summary: Get the current Ed25519 receipt-verification key
      responses:
        '200':
          description: Public issuer key and key identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuerKey'
        '503':
          $ref: '#/components/responses/Unavailable'
    servers:
    - url: https://vouchspec.plyrium.com
      description: Base mainnet commerce
  /api/vouchspec/v1/receipts/{sha256_hex}:
    get:
      tags:
      - Verification
      operationId: getVouchSpecReceipt
      summary: Fetch immutable DSSE receipt bytes by SHA-256 digest
      parameters:
      - $ref: '#/components/parameters/Sha256Hex'
      responses:
        '200':
          description: Exact immutable DSSE envelope bytes.
          content:
            application/vnd.dsse.envelope.v1+json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'
    servers:
    - url: https://vouchspec.plyrium.com
      description: Base mainnet commerce
  /api/vouchspec/v1/receipts/{sha256_hex}/status:
    get:
      tags:
      - Verification
      operationId: getVouchSpecReceiptStatus
      summary: Check the live reliance status for a receipt
      description: Fetch this no-store status before every new reliance decision; cached receipt bytes alone are insufficient.
      parameters:
      - $ref: '#/components/parameters/Sha256Hex'
      responses:
        '200':
          description: Current receipt lifecycle status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Unavailable'
    servers:
    - url: https://vouchspec.plyrium.com
      description: Base mainnet commerce
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unavailable:
      description: VouchSpec is temporarily unavailable.
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    IssuerKey:
      type: object
      additionalProperties: false
      required:
      - schema_version
      - key_id
      - algorithm
      - public_key_jwk
      - use
      properties:
        schema_version:
          const: '1.0'
        key_id:
          type: string
        algorithm:
          const: Ed25519
        public_key_jwk:
          type: object
          additionalProperties: true
        use:
          type: string
    Error:
      type: object
      additionalProperties: false
      required:
      - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
  parameters:
    Sha256Hex:
      name: sha256_hex
      in: path
      required: true
      description: 'Lowercase SHA-256 digest of the exact DSSE envelope bytes, without the sha256: prefix.'
      schema:
        type: string
        pattern: ^[0-9a-f]{64}$
externalDocs:
  description: VouchSpec machine discovery contract
  url: https://vouchspec.plyrium.com/api/vouchspec/v1/discovery
x-refined-from:
- plyrium-com-openapi.json
- plyrium-com-openapi.json
x-vouchspec:
  agentOnly: true
  humanCheckout: false
  profile: vouchspec-public-static-v1
  operation: fresh_public_static_validation
  payment:
    protocol: x402
    version: 2
    scheme: exact
    network: eip155:8453
    asset: USDC
    amount: '0.25'
    atomicAmount: '250000'
  ardCatalog: https://vouchspec.plyrium.com/.well-known/ai-catalog.json
  fulfillment:
    accepted_input: immutable_public_github_coordinates
    artifact_uploads: false
    private_repositories: false
    artifact_code_executed: false
    inspection_worker_egress: false
    signer_egress: false
    expected_delivery_minutes: 10
